@model HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";
    //    Layout = null;
}
<h1>All restaurants</h1>
@if (User.Identity.IsAuthenticated)
{
    foreach (var restaurant in Model.Restaurants)
     {
         @Html.Partial("_Summary", restaurant)
     }

    <div><a asp-action="Create">Add restaurant</a></div>

}
else
{
    <h2>Log in to see more</h2>
}
