@{
    ViewBag.Title = "_Footer";
}


<footer>
    <section class="footer-items">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div id="logo-footer">
                        <a href="~/Views/Home/Index.cshtml">JobMarket</a>
                    </div>
                </div>
                <div class="col-md-2">
                    <ul>
                        <li>Company</li>
                        <li>
                            <a href="#"> About Us </a>
                        </li>
                        <li>
                            <a href="#"> FAQs </a>
                        </li>
                        <li>
                            <a href="#"> Contact Us </a>
                        </li>
                        <li>
                            <a href="#"> Terms and Conditions </a>
                        </li>
                        <li>
                            <a href="#"> Privacy Policy </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul>
                        <li>Products</li>
                        <li>
                            <a href="#"> Home Care </a>
                        </li>
                        <li>
                            <a href="#"> Laundry </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul>
                        <li>Dashboard</li>
                        <li>
                            <a href="#"> My Account </a>
                        </li>
                        <li>
                            <a href="#"> Forum </a>
                        </li>
                        <li>
                            <a href="#"> My Orders </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul>
                        <li>Get in Touch</li>
                        <li>JobMarket contact centre 800 AGAT (2428)</li>
                        <li>Email: Customercare@jobmarket.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="footer-bar text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p>&copy; 2017 JobMarket. All Rights Reserved.
                    <p>
                </div>
                <div class="col-md-8">
                    <div class="row text-center footer-icons-center">
                        <div class="col-xs-3 mr-5">
                            <a href="" target="_blank">
                                <i class="fa fa-facebook footer-icons"></i>
                            </a>
                        </div>
                        <div class="col-xs-3 mr-5">
                            <a href="" target="_blank">
                                <i class="fa fa-twitter footer-icons"></i>
                            </a>
                        </div>
                        <div class="col-xs-3 mr-5">
                            <a href="#" target="_blank">
                                <i class="fa fa-google-plus footer-icons"></i>
                            </a>
                        </div>
                        <div class="col-xs-3">
                            <a href="" target="_blank">
                                <i class="fa fa-instagram footer-icons"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>