<!DOCTYPE html>
@using System.Web.Optimization

<html lang="en">

<head>
    @Styles.Render("~/bundles/categories/css")
     
</head>

<body>


    <!-- Search Section -->
    <section class="search-box">
        <div class="center-div">
            <h1 class="mb-4">Search for jobs...</h1>
            <div id="input-container" class="input-group">
                <span class="input-group-addon" id="addon">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </span>
                <input id="search-bar" type="text" class="form-control" placeholder="Search for jobs..." aria-describedby="addon">
            </div>
        </div>
    </section>

    <!-- Categories Section -->
    <section class="category-section">
        <h2>Instalare</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <ul>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
    </section>
    <section class="category-section">
        <h2>Reparație</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <ul>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
    </section>
    <section class="category-section">
        <h2>Îmbunătățire</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <ul>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
    </section>
    <section class="category-section">
        <h2>Livrare</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <ul>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
    </section>
    <section class="category-section">
        <h2>Transport</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <ul>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
    </section>
    <section class="category-section">
        <h2>Curățenie</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <ul>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum.</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <script>
        let searchBar = document.getElementById("search-bar");
        let searchParent = document.getElementById("input-container");
        searchBar.addEventListener('focus', function () {
            searchParent.style.borderColor = "#522F91";
        });
        document.addEventListener('click', function (evt) {
            if (evt.target !== searchBar)
                searchParent.style.borderColor = "rgb(200,200,200)";
        });
    </script>
</body>

</html>